@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.hamburger {
  z-index: 999;
  position: relative;
  width: 40px;
  outline: none;
  border: none;
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px auto;
  background-color: blue;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.Container-1 {
  position: absolute;
  width: 100%;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.header-mobile {
  height: 718px;
  left: 0; 
  top: 0; 
  background: #fff;
}

header {
  padding: 20px 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0 24px;
}

.navigation-two {
  display: flex;
  gap: 50px;
  margin-right: 70px;
  z-index: 10;
  text-decoration: none;
}

.nav { 
  transition: 0.7s ease; 
  z-index: 10;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

 .menu1 {
  height: 48px;
}

.menu1 li a {
  display: flex;
  width: 96px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
} 

.navigation .logo {
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.menu1 ul {
  display: none;
  list-style: none;
}

.main-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  height: 604px;
  top: 92px;
  background-image: url("media/header-shape-mobile-2x.svg");
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.main-part-title h1 {
  padding: 0 24px 12px 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
}

.main-part p {
  padding: 0 24px 12px 24px;
  font-size: 15px;
  height: auto;
  flex-direction: column;
}

.connect-let {
  padding: 0 24px 12px 24px;
  color: #7f8cff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.s-m-i {
  padding: 0 24px 12px 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.s-m-i img {
  margin-right: 15px;
}

.jobs {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  background: #e5e5e5;
  gap: 88px;
  left: 0;
  margin-top: 50px;
}

.Card-jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.Snapimage-Portfolio img {
  height: 220px;
  background: url(blog_drbl_4x.png);
  border-radius: 8px;
}

.L-Block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
}

.First-Text {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
  height: 80px;
}

.First-Text ul {
  padding-top: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  height: 32px;
}

.canopy {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.Bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c1c7d0;
}

.First-Text h2 {
  height: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
}

.L-Block p {
  width: 295px;
  height: 76px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.Marks {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 24px;
}

.Marks-html {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.Marks-ruby {
  display: none;
}

.Marks-css {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.Marks-js {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  width: 98px;
  height: 25px;
  background: #ebebff;
  border-radius: 8px;
}

.Marks-content {
  position: relative;
  color: #101b79;
}

.act {
  width: 295px;
  height: 72px;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 130px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
}

button:enabled {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  width: 140px;
  height: 48px;
  color: #396df2;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.about_myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
}

.Up {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.Up h2 {
  height: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.social_Media {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 200px;
  height: 80px;
}

.social_Media ul {
  list-style-type: none;
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social_Media img {
  margin-right: 15px;
}

.Up-connect {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 20px;
}

.Action-resume {
  padding-left: 0;
}

.ability-List {
  padding: 0 24px 145px 24px;
  display: flex;
  flex-direction: column;
  height: 464.15px;
}

.Img-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 327px;
}

.Img-2 h3 {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.Img-3,
.img-5 {
  padding: 24px 0 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img1 {
  width: 302px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
}

h6 {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  color: #253858;
}

.Contact-us {
  background: #6070ff url("media/contact-form-2x.png") no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
  height: 778px;
  left: 0;
  top: 5410px;
  border-radius: 80px 0 0 0;
}

.Contact-us h2 {
  padding: 103px 0 12px 0;
  height: 56px;
  top: 4734px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.Contact-us p {
  padding: 0 24px 87px 24px;
  height: 102px;
  left: 24px;
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.forms {
  padding-top: 60px;
  flex-direction: column;
  align-items: center;
}

.forms ul {
  list-style-type: none;
}

#name {
  padding-left: 24px;
  margin-bottom: 20px;
  width: 327px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  border: 1px solid #60c095;
  border-radius: 8px;
}

#email {
  padding-left: 24px;
  margin-bottom: 20px;
  width: 327px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  border: 1px solid #60c095;
  border-radius: 8px;
}

#textarea {
  width: 327px;
  height: 170px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  padding: 12px;
  border: 1px solid #60c095;
  border-radius: 8px;
}

.form button {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.get-in-touch {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {

.hamburger {
  display: block  
}

.hamburger.active .bar:nth-child(2) {
   opacity: 0; 
  }

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff; 
  }
  


  .nav {
    margin: 16px 0;
  }
  
  .navigation-two {
    display: flex;
    display: none;
    position: fixed;
    top: 0;
    gap: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    left: 0;
    padding-left: 30px;
    line-height: 44px;
  
  }
  .navigation-two.active{
    display: block;
    left: 0;
    background: #6070ff;
    opacity: 0.9;
    text-decoration: white;
  }
}
@media only screen and (min-width: 900px) {
  .Container-1 {
    position: absolute;
    width: 100%;
  }

  .jobs {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    padding: 50px 100px;
    background: #e5e5e5;
    gap: 88px;
    left: 0;
    top: 718px;
    margin-top: 30px;
  }

  .Card-jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    background: #fff;
    border-radius: 16px;
    margin-top: 30px;
  }

  .header-mobile {
    height: 916px;
  }

  .menu1 img {
    display: none;
  }

  .menu1 ul {
    display: flex;
    list-style-type: none;
    color: #344563;
  }

  .main-part {
    padding: 289px 260px 0 260px;
    background-image: url("media/Header-bg-2x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-part-title h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .Card-jobs {
    flex-direction: row;
    height: 496px;
  }

  .Card-jobs:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }

  .Snapimage-Portfolio img {
    width: 544px;
    height: 448px;
  }

  .L-Block {
    width: 544px;
    height: 445px;
    padding: 24px;
  }

  .First-Text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .First-Text ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .canopy {
    color: #344563;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .Marks {
    padding-top: 12px;
  }

  .Marks-ruby {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ebebff;
    border-radius: 8px;
  }

  .act {
    padding-top: 30px;
  }

  .about_myself {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .Up {
    padding-left: 142px;
    height: 392px;
  }

  .Up h2 {
    font-weight: 700;
    font-size: 40px;
  }

  .Up p {
    width: 447px;
  }

  .ability-List {
    width: 684px;
    height: 360px;
  }

  .ability-List ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .img1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 120px;
  }

  h6 {
    margin-left: 0;
  }

  .social_Media ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    width: 200px;
    height: 40px;
  }

  .Contact-us {
    background-image: url(media/contact-form-2x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Contact-us p {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30%;
    align-items: center;
    height: 102px;
  }

  .forms {
    flex-direction: column;
    align-items: center;
  }
}
